## Observations and Insights

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
merge_df = pd.merge(mouse_metadata, study_results, how = "outer", on ="Mouse ID")


# Display the data table for preview
merge_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Unnamed: 5,Unnamed: 6,Unnamed: 7,Timepoint,Tumor Volume (mm3),Metastatic Sites
0,a203,Infubinol,Female,20,23,NaN,NaN,24.0,0,45.000000,0
1,a203,Infubinol,Female,20,23,NaN,NaN,24.0,5,48.508468,0
2,a203,Infubinol,Female,20,23,NaN,NaN,24.0,10,51.852437,1
3,a203,Infubinol,Female,20,23,NaN,NaN,24.0,15,52.777870,1
4,a203,Infubinol,Female,20,23,NaN,NaN,24.0,20,55.173336,1

In [3]:
# Checking the number of mice.
number_of_mice_unclean = len(merge_df['Mouse ID'])
number_of_mice_unclean

1893

In [4]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_ids = merge_df.loc[merge_df.duplicated(subset=["Mouse ID","Timepoint"]),"Mouse ID"].unique()
duplicate_ids

array(['g989'], dtype=object)

In [5]:
# Optional: Get all the data for the duplicate mouse ID. 
merge_df.loc[merge_df["Mouse ID"] == "g989",:]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Unnamed: 5,Unnamed: 6,Unnamed: 7,Timepoint,Tumor Volume (mm3),Metastatic Sites
586,g989,Propriva,Female,21,26,NaN,NaN,NaN,0,45.000000,0
587,g989,Propriva,Female,21,26,NaN,NaN,NaN,0,45.000000,0
588,g989,Propriva,Female,21,26,NaN,NaN,NaN,5,48.786801,0
589,g989,Propriva,Female,21,26,NaN,NaN,NaN,5,47.570392,0
590,g989,Propriva,Female,21,26,NaN,NaN,NaN,10,51.745156,0
591,g989,Propriva,Female,21,26,NaN,NaN,NaN,10,49.880528,0
592,g989,Propriva,Female,21,26,NaN,NaN,NaN,15,51.325852,1
593,g989,Propriva,Female,21,26,NaN,NaN,NaN,15,53.442020,0
594,g989,Propriva,Female,21,26,NaN,NaN,NaN,20,55.326122,1
595,g989,Propriva,Female,21,26,NaN,NaN,NaN,20,54.657650,1
596,g989,Propriva,Female,21,26,NaN,NaN,NaN,25,56.045564,1
597,g989,Propriva,Female,21,26,NaN,NaN,NaN,30,59.082294,1
598,g989,Propriva,Female,21,26,NaN,NaN,NaN,35,62.570880,2

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [6]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [10]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen